<app-product-listing-filter></app-product-listing-filter>

<div class="clr-row">
  <div class="clr-col-lg-3 clr-col-12" *ngFor="let product of productList">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title" style="margin-bottom: 0px;">{{product.name}}</h4>
        <h5 class="card-title">{{product.type}}</h5>
        <div class="card-img">
          <img src="https://via.placeholder.com/350x150?text=Image" />
        </div>
        <p class="card-text">
          {{product.description | slice:0:140}}
        </p>
      </div>
      <div class="card-footer">
        <div class="clr-row">
          <div class="clr-col-6 text-left">
            
            <div class="clr-control-container">
              <div class="clr-select-wrapper">
                <select placeholder="Select Option" id="noOfDays" #selNoOfDays>
                  <option *ngFor="let d of noOfDays" >{{d}}</option>
                </select>
              </div>
            </div>
            days
          </div>
          <div class="clr-col-6 text-right">
             <a class="btn btn-sm btn-link" (click)="addToCart(product, selNoOfDays.value)">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

